@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        @apply w-screen h-full
    }

    #_next {
        @apply w-screen h-full
    }

    h1 {
        @apply font-semibold text-2xl tracking-wider
        text-slate-300
    }

}

@layer components {

   /*
   *
   * DEFAULT
   */

   .btn-primary {
        @apply w-full h-12 px-4 py-2 text-base lg:text-xl rounded-md
        bg-slate-400  border-l-slate-700
        hover:border-none hover:bg-slate-100
        active:bg-green-500
        transition ease-in-out duration-300 uppercase
    }

    .input-text {
        @apply w-full h-auto relative mb-12
    }

    .input-text input {
        @apply w-full h-12 px-12 
        border border-gray-200 rounded-md 
        focus:outline-none focus:shadow-sm 
        focus:ring-2 
    }

    .input-text label {
        @apply absolute top-0 left-0 h-full p-3 
    }

    .input-email {
        @apply w-full h-auto relative
    }

    .input-text label svg {
        @apply fill-gray-800
    }

    .input-email input {
        @apply w-full h-12 px-12 
        border border-gray-200 rounded-md 
        focus:outline-none focus:shadow-sm
        focus:ring-2 
    }

    .input-email label {
        @apply absolute top-0 left-0 h-full p-3 
    }

    .input-email label svg {
        @apply text-gray-800
    }

    /*
    *
    * LOGIN PAGE
    */
    .login {
        @apply w-full h-screen bg-slate-400
        flex justify-center items-center
    }

    .login section {
        @apply w-auto h-auto p-32 
        flex flex-col justify-start items-center
        bg-slate-700 rounded-md drop-shadow-2xl
    }

    /*
    *
    * DASHBOARD
    */

    .dash {
        @apply w-screen h-screen p-12 space-x-6
        flex justify-center items-center
        bg-slate-400
    }

    .dash section {
        @apply w-full h-full p-6
        flex flex-col justify-start items-start
        bg-slate-100
        rounded-md drop-shadow-2xl
    }

    .user-clip {
        @apply w-full h-auto space-x-4
        flex justify-center items-center
    }

    .user-clip h2 {
        @apply w-auto h-full
        flex justify-center items-center
        text-3xl font-semibold self-start
    }

    .balance {
        @apply  w-1/3 h-24 p-8 mb-4 relative
        flex justify-center items-center
        border border-slate-700 rounded-md
    }

    .balance p {
        @apply  w-auto h-auto absolute left-4 -top-3
        px-2 bg-slate-100
    }

    .cash-out {
        @apply  w-full h-24 p-8 mb-4 relative
        flex justify-center items-center
        border border-slate-700 rounded-md
    }

    .cash-out span{
        @apply  w-auto h-auto absolute left-4 -top-3
        px-2 bg-slate-100
    }

    .cash-out form {
        @apply  w-auto h-auto space-x-4
        flex justify-center items-center
    }

    .cash-out fieldset {
        @apply  w-auto h-24 
        flex justify-center items-center 
    }

    .cash-out fieldset input {
        @apply  w-auto h-12 px-6
        bg-slate-300 rounded-md 
        focus:outline-none focus:shadow-sm 
        focus:ring-2 focus:ring-purple-500
    }

    .last-transfer {
        @apply  w-full h-full mb-4
        flex flex-col justify-start items-center
        border border-slate-700 rounded-md
    }

    .last-card {
        @apply  w-full h-full
        flex justify-start items-center
    }
}