@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        @apply w-screen h-full
    }

    #_next {
        @apply w-screen h-full
        flex justify-center items-center
    }

    h1 {
        @apply font-semibold text-2xl tracking-wider
        text-slate-300
    }

}

@layer components {

   /*
   *
   * DEFAULT
   */

    .error-msg {
        @apply w-full h-auto py-6
        text-red-500 font-medium tracking-wide text-center
    }

   .btn-primary {
        @apply w-full h-12 px-4 py-2 text-base lg:text-xl rounded-xl
        bg-slate-400  border-l-slate-700
        hover:border-none hover:bg-purple-700 hover:text-white
        active:bg-green-500
        transition ease-in-out duration-300 uppercase
    }

    .input-text {
        @apply w-full h-auto relative mb-12
    }

    .input-text input {
        @apply w-full h-12 px-12 
        border border-gray-200 rounded-xl 
        focus:outline-none focus:shadow-sm 
        focus:ring-2 
    }

    .input-text label {
        @apply absolute top-0 left-0 h-full p-3 
    }

    .input-email {
        @apply w-full h-auto relative
    }

    .input-text label svg {
        @apply fill-gray-800
    }

    .input-email input {
        @apply w-full h-12 px-12 
        border border-gray-200 rounded-xl 
        focus:outline-none focus:shadow-sm
        focus:ring-2 
    }

    .input-email label {
        @apply absolute top-0 left-0 h-full p-3 
    }

    .input-email label svg {
        @apply text-gray-800
    }

    /*
    *
    * LOGIN PAGE
    */
    .login {
        @apply w-full h-screen bg-slate-400
        flex justify-center items-center
    }

    .login section {
        @apply w-auto h-auto p-32 
        flex flex-col justify-start items-center
        bg-slate-700 rounded-xl drop-shadow-2xl
    }

    /*
    *
    * DASHBOARD
    */

    .dash {
        @apply w-full h-screen p-40 
        flex flex-col justify-center items-center
        bg-slate-900
    }

    .dash-wrapper {
        @apply w-full h-screen p-6 
        flex flex-col justify-center items-center
        bg-slate-100  rounded-3xl drop-shadow-2xl
    }

    .dash-header {
        @apply w-full h-auto px-8 space-x-6
        flex justify-center items-center
    }

    .dash-transaction {
        @apply w-full h-full p-6 space-x-6
        flex justify-start items-start
    }

    .user-clip {
        @apply h-full 
        flex flex-col justify-start items-center
    }

    .balance {
        @apply w-full h-24 p-8 mb-6 relative
        flex justify-center items-center
        border border-slate-700 rounded-xl
    }

    .balance p {
        @apply  w-auto h-auto absolute left-4 -top-3
        px-2 bg-slate-100
    }

    .cash-out {
        @apply w-full h-full px-2 py-6 relative
        flex flex-col justify-start items-start
        border border-slate-700 rounded-xl
    }

    .cash-out span{
        @apply w-auto h-auto absolute left-4 -top-3
        px-2 bg-slate-100
    }

    .cash-out form {
        @apply  w-full h-auto p-4
        flex flex-col justify-start items-start
    }

    .cash-out fieldset {
        @apply  w-full h-auto
        flex justify-start items-start 
    }

    .cash-out fieldset label {
        @apply  w-full h-auto
        text-2xl font-semibold tracking-wide
    }

    .cash-out fieldset input {
        @apply  w-full h-16 px-6 mt-2
        bg-slate-300 rounded-xl 
        focus:outline-none focus:shadow-sm 
        focus:ring-2 focus:ring-purple-700
        text-xl font-semibold
    }

    .output {
        @apply w-[16rem] h-auto self-center mt-6 
        border-b border-slate-700 text-center 
    }

    .transfers {
        @apply  w-full h-full
        flex flex-col justify-start items-center 
    }
    
    .transfer-table {
        @apply  w-full h-full
        flex flex-col justify-start items-center
        border border-slate-700 rounded-xl 
    }

    .search-transfer {
        @apply  w-full h-20 mb-4
        flex flex-col justify-center items-center 
        rounded-xl border border-slate-700
    }

    .transfers-card {
        @apply w-full h-auto px-6 py-2 space-x-2
        flex justify-start items-center
        border-b border-slate-300
    }

    .transfers-card li {
        @apply w-auto h-full py-2 px-4
        flex justify-start
    }
}